# Python tour - MCS 275 Spring 2023 - Emily Dumas
## Live version (1pm)

In [1]:
1+1

2

In [2]:
print("hello")
print(2**500)

hello
3273390607896141870013189696827599152216642046043064789483291368096133796404674554883270092325904157150886684127560071009217256545885393053328527589376

## Variables

In [4]:
# just assign a value to a name to create a variable
x = [2, 4, 8, "hello", "avocado", False, -0.08, None, None, None ]
#    int int int str    str       bool   float  None  None  None

In [5]:
len(x)

10

In [6]:
y = x

In [8]:
type(x)

list

In [9]:
type(y)

list

In [10]:
s = "I lost my wireless mouse on Monday, but found it 13 minutes ago."

In [11]:
type(s)

str

In [13]:
n = 275
print(n)

275

## Lists

In [15]:
x

[2, 4, 8, 'hello', 'avocado', False, -0.08, None, None, None]

In [14]:
x[0] # first item in the list

2

In [16]:
x[4]

'avocado'

In [18]:
# don't do this (but it works)
print(x[ len(x) - 1 ])

None

In [20]:
print(x[-1])  # preferred way to get the last element of a list

None

In [ ]:
x[-2] # second to last element, etc.

In [21]:
x[-1] = "final element here"  # Lists are mutable

In [22]:
x

[2, 4, 8, 'hello', 'avocado', False, -0.08, None, None, 'final element here']

In [23]:
y

[2, 4, 8, 'hello', 'avocado', False, -0.08, None, None, 'final element here']

In [24]:
x = [ 1,2,3 ]   # Create a new list, put a name tag on it reading "x"
y = x     # Find the list that answers to the name "x", 
          # add another name tag reading "y"

In [26]:
x[0] = 500e6  # Find the list that answers to name "x".  Modify its first element.

In [27]:
x

[500000000.0, 2, 3]

In [28]:
y

[500000000.0, 2, 3]

In [30]:
# Copy of a list
z = list(x)

In [31]:
x

[500000000.0, 2, 3]

In [32]:
z

[500000000.0, 2, 3]

In [33]:
x[0] = 2023

In [34]:
x

[2023, 2, 3]

In [35]:
z

[500000000.0, 2, 3]

In [38]:
x is y  # is tests whether two names refer to the same object

True

In [37]:
x is z

False

In [39]:
A = [1,2,3]

In [40]:
B = [1,2,3]

In [41]:
A is B  # very unlikely this is what I care about

False

In [42]:
A == B  # much more likely to be correct comparison

True

### Slices of lists

In [43]:
L = [2,3,5,7,11,13,17,19,23]

In [63]:
len(L)

9

In [44]:
# L[start:stop] retrieves all the items w/ index is >= start and < stop

In [46]:
L[3:6]  # how long is the result?  6-3 = 3
# L[start:stop] typically has length stop-start

[7, 11, 13]

In [51]:
L[:5]  # missing start is beginning of list
# first 5 elements of L

[2, 3, 5, 7, 11]

In [53]:
L[3:]  # missing end is beyond last element of the list
# all but the first 3 elements of L

[7, 11, 13, 17, 19, 23]

In [47]:
first_half = L[:len(L)//2]

In [48]:
second_half = L[len(L)//2:]

In [62]:
first_half

[2, 3, 5, 7]

In [64]:
second_half

[11, 13, 17, 19, 23]

In [55]:
13/2   # integer / integer is a float

6.5

In [56]:
12/6

2.0

In [58]:
13 // 2  # perform division, but discard any remainder

6

In [65]:
L

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [66]:
# extended slice syntax  L[start:stop:stepsize]
L[::2]

[2, 5, 11, 17, 23]

In [67]:
L[1::2]

[3, 7, 13, 19]

In [68]:
L[::2] + L[1::2]  # inverse of shuffling a deck of cards

[2, 5, 11, 17, 23, 3, 7, 13, 19]

In [69]:
L[:-1]  # all but the last

[2, 3, 5, 7, 11, 13, 17, 19]

In [71]:
L[1:]  # all but the first

[3, 5, 7, 11, 13, 17, 19, 23]

## Dictionaries

In [79]:
d = { 
    "name": "Emily Dumas",
    "office": "SEO 722",
    "department": "MSCS" 
    }
# a bunch of key:value pairs

In [73]:
type(d)

dict

In [74]:
d["name"]

'Emily Dumas'

In [75]:
d["department"]

'MSCS'

In [76]:
3 in L

True

In [78]:
18 in L

False

In [82]:
"Emily Dumas" in d   # Is "Emily Dumas" a KEY of dict d?  No.

False

In [83]:
"department" in d

True

In [84]:
#Dicts are mutable
d["teaching"] = "MCS 275"

In [85]:
d

{'name': 'Emily Dumas',
 'office': 'SEO 722',
 'department': 'MSCS',
 'teaching': 'MCS 275'}

In [86]:
d["fingers"] = 10

In [87]:
d

{'name': 'Emily Dumas',
 'office': 'SEO 722',
 'department': 'MSCS',
 'teaching': 'MCS 275',
 'fingers': 10}

In [88]:
d[ [1,2,3] ] = "failure imminent"

TypeError: unhashable type: 'list'

## Control structures

### Conditionals

In [101]:
n = 30
if n % 2 == 0:
    print(n,"is even")
elif n % 3 == 0:
    print(n,"is a multiple of 3, and is also odd")
else:
    print(n,"is odd and is not a multiple of 3")

30 is even

### Loops

In [ ]:
for item in container:
    do thing with item

In [89]:
for x in L:
    print(x)

2
3
5
7
11
13
17
19
23

In [ ]:
x = 2
print(x)
x = 3
print(x)
...

In [91]:
for k in d:
    print(k,"=",d[k])

name = Emily Dumas
office = SEO 722
department = MSCS
teaching = MCS 275
fingers = 10

In [92]:
k = "name"  # get a key from d
print("name","=",d["name"])

name = Emily Dumas

In [94]:
for k,v in d.items():
    print(k,"=",v)

name = Emily Dumas
office = SEO 722
department = MSCS
teaching = MCS 275
fingers = 10

In [98]:
# 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, ...

n = 1  # exponent
while "7" not in str(2**n):
    n += 1
print("Smallest power of 2 with a 7 in its decimal expansion is")
print("2**{} = {}".format(n,2**n))

Smallest power of 2 with a 7 in its decimal expansion is
2**15 = 32768

## Lecture 3 part of the tour begins here

### File I/O (input / output)

In [102]:
# DANGER DANGER DANGER WARNING any existing file named "write_example.txt" will be deleted
fp = open("write_example.txt", "w", encoding="UTF-8")

```
*
**
***
****
*****
```

In [103]:
"ha" * 4

'hahahaha'

In [104]:
print("Hello")
print("My name is David")

Hello
My name is David

In [105]:
for i in range(20):   # means i starts at 0 and ends at 19, steps of one
    fp.write("*"*i + "\n")  # \n is the newline character, to skip to the next line

In [106]:
fp.close()  # I don't need access to the file any longer, AND I want OS to handle any pending write operations.

#### Reading files

In [107]:
infile = open("wordlist.txt","r",encoding="UTF-8")

In [108]:
lines = infile.readlines()

In [109]:
len(lines)

10000

In [110]:
lines[0]

'a\n'

In [111]:
lines[-1]

'zus\n'

In [112]:
lines[:10]

['a\n',
 'aa\n',
 'aaa\n',
 'aaron\n',
 'ab\n',
 'abandoned\n',
 'abc\n',
 'aberdeen\n',
 'abilities\n',
 'ability\n']

In [113]:
"  \n \n           stuff      \n\n\n\n\n  ".strip()

'stuff'

In [115]:
lines[5].strip()  # strip leading and trailing white space

'abandoned'

In [116]:
lines[5][:-1]  # remove last character

'abandoned'

In [117]:
wordlist = [ x.strip() for x in lines ]  # list comprehension

In [ ]:
wordlist = []
for x in lines:
    wordlist.append( x.strip() )

In [119]:
infile.close()

### Structured programming with modules, classes, methods, functions, etc.

In [1]:
import shapes

In [2]:
S = shapes.Sphere(2,7,5,10)

In [3]:
print(S)

Sphere(cx=2,cy=7,cz=5,r=10)

In [4]:
S

Sphere(cx=2,cy=7,cz=5,r=10)

In [123]:
S.cx

2

In [124]:
S.cy

7

In [125]:
S.cz

5

In [126]:
S.r

10

In [127]:
S.volume()   # notice there's no "self" here   object.method(arg) -> method(object,arg)

4188.790204786391

In [2]:
L = [ shapes.Sphere(0,0,0,1), shapes.Cube(1,2,3,5) ]

In [3]:
L

[Sphere(cx=0,cy=0,cz=0,r=1), <shapes.Cube at 0x7eff18946290>]

In [4]:
vol = 0.0
for obj in L:
    vol += obj.volume()  # obj.volume might be Sphere.volume or Cube.volume

In [5]:
print(vol)

129.1887902047864